@import '../../../utils/styles/mixins/breakpoint.scss';

.homepage{
    height: 100vh;
    background-color: white;
    position: relative;
    overflow: hidden;

    #verticalShapeDivider{
      position: absolute;
      top: 0;
      right: 0rem;
      z-index: 1;
    }

    &__subtitle{
      transition: all 0.4s ease;
      mix-blend-mode: difference;
      color: rgb(255, 255, 216);
      font-family: 'Bebas Neue', cursive;
      padding: 5rem 0rem 0 1rem;
      letter-spacing: 1rem;
      position: relative;
      z-index: 2;
      animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      font-size: 13vw;

      @include breakpoint(min-width, 870px){
        padding: 5rem 0rem 0 10rem;
        font-size: 7rem;
      }
    }
}

.word{
  &--forward{
    display: block;
    letter-spacing: 2.3rem;
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: 27vw;

    @include breakpoint(min-width, 870px){
      font-size: 16rem;
    }

  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
